<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Invitación al Repositorio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
     <!-- Menú de Navegación -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{'http://' + ${ip} + '/'}">IES N°6</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'http://' + ${ip} + '/'}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'http://' + ${ip} + '/programas'}">Programas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'http://' + ${ip} + '/isos'}">ISOs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'http://' + ${ip} + '/acerca'}">Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenido Principal -->
    <main class="container my-5 text-center">
        <h2 class="mb-4">Únete a la Comunidad de Desarrollo de Código Abierto</h2>
        <p class="lead">Nos complace invitarte a explorar el repositorio donde compartimos cómo se ha desarrollado esta web. 
        Descubre las tecnologías utilizadas, el código fuente y aprende cómo puedes contribuir a mejorarla.</p>
        <p class="lead">Esta es una oportunidad para colaborar en la creación de programas de código abierto y gratuitos que 
        beneficien a todos. Tu participación y creatividad son bienvenidas.</p>
        <a href="https://github.com/tu-repositorio" class="btn btn-primary btn-lg">Visita el Repositorio en GitHub</a>
        <p class="mt-4">¡Explora, aprende y contribuye!</p>
    </main>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
